body{
    margin: 0%;
    padding: 0%;
    background:#79DACB;
}

.gov{
display: flex;
width: 1290x;
background: #76D0C2;
margin-left: 4%;
margin-right: 4%;
height: 50px;
border-radius: 10%;
margin-top: 3%;
}

.gov>ul{
    display: flex;
}

.gov>ul>li{
    list-style-type: none;
    margin-right: 60px;
}

.gov>ul>li>a{
    text-decoration: none;
    font-size: 19px;
}
