body{
    margin: 0%;
    padding: 0%;
    background:#79DACB;
}

.gov{
display: flex;
width: 1290x;
margin-left: 10%;
margin-right: 10%;
height: 50px;
border-radius: 10%;
margin-top: 3%;
}

.gov>ul{
    display: flex;
    margin-left: 9%;
}

.gov>ul>li{
    list-style-type: none;
    margin-right: 60px;
}

.gov>ul>li>a{
    width: 100%;
    text-decoration: none;
    font-size: 19px;
    transition: 0.3s;
    color: black;
}
.gov>ul>li>a:hover{
    background: #78C9BC;
    color: azure;
}

.con{
display: flex;
}

.con>img{
    width: 15%;
    height: 10%;
    border-radius: 5%;
    margin-left: 17%;
    margin-top: 7%;
}

.con>h3{
    margin-top: 7%;
    margin-left: 4%;
}

.con>p{
    margin-top: 10%;
    margin-right: 10%;
    margin-left: -5%;
}

.content{

}

.content>ul{
    text-decoration: none;
}

.content>ul>li{
    text-decoration: none;
    list-style-type: none;
    display: flex;
}

.content>ul>li>img{
    width: 100px;
    height: auto;
    margin: 0% 5% 5% 0%;
    border-radius: 5px;
}

.contentul>li>h3{
    font-size: 25px;
}
